main {
    top: 50px;

    .about-wrapper {
        top: 20vh;
        position: relative;
        width: 60%;
        margin: auto;
        height: 40vh;
        
        text-align: center;
        font-family: 'poppins';
        h1 {
            color: white;
        }
        p {
            color: #fff;
        }
    }

}