main {
    top: 50px;
    position: relative;

    .contact-wrapper {
        top: 20vh;
        position: relative;
        width: 60%;
        margin: auto;
        height: 40vh;
        color: #fff;
        text-align: center;
        font-family: 'poppins';
        letter-spacing: 2px;
        h2 {
            color: rgb(255, 179, 64);
            margin-bottom: 2vh;
        }
        p {
            color: #fff;
            
        }
    }

}