main {
    top: 50px;
    position: relative;
    min-height: 0vh;
    .contact-wrapper {
        top: 10vh;
        position: relative;
        width: 60%;
        margin: auto;
        height: 22vh;
        color: #fff;
        text-align: center;
        font-family: 'poppins';
        letter-spacing: 3px;
        h1 {
            color: rgb(255, 179, 64);
            margin-bottom: 2vh;
        }
        p {
            color: #fff;
            font-size: 12px;
        }
    }

}