
footer {
    color: white;
    font-family: 'poppins';
    height: 22vh;
    background-color: rgb(37, 37, 37);
    margin-top: 10vh;
    bottom: 0px;
    width: 100%;
    left: 0px;
    position: relative;
    padding-top: 2vh;
    .copyright{
      color: rgb(139, 139, 139);
      font-size: 14px;
    }
}
.footer-wrapper {
  text-align: center;
}
.footerRow {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    margin: auto;  

}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  
  .fa-instagram {
    background: #833AB4;
    color: white;
  }

@include tablet {
  .copyright {
    font-size: 11px;
  }
}
@include mobile {
  .copyright {
    font-size: 11px;
  }
  .footer-wrapper {
    text-align: center;
  }
  .footerRow{
    justify-content: center;
    flex-direction: column;
  }
  footer {
    padding-top: 2vh;
    height: 22vh;
  }
  .indexMain {
    min-height: 45vh;
  }

}