
footer {
    color: white;
    font-family: 'poppins';
    height: 20vh;
    background-color: rgb(37, 37, 37);
    margin-top: 10vh;
    bottom: 0px;
    width: 100%;
    left: 0px;
    position: relative;
    
}
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2vh;
    
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  
  .fa-instagram {
    background: #833AB4;
    color: white;
  }

  


  

 