header {
    width: 100%;
    position: relative;
    clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
    .header-wrapper{
            height: 100vh;
            display: flex;
            align-items: center;
            color: ghostwhite;
        .header-hero {
            z-index: 1;
            margin: auto;
            // clip-path: polygon(0% 0% 10% 0%);
            h1{
                font-size: 3rem;
                margin-bottom: 1rem;
                font-family: 'poppins';
                letter-spacing: 10px;
                text-transform: uppercase;
            }
            p{
                font-size: 1.2rem;
                display: block;
                padding-bottom: 2rem;
                font-family: 'poppins';
            }
        }
        // .header-overlay {
        //     height: 100vh;
        //     width: 100vh;
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     background: #225470;
        //     z-index: 0;
        //     opacity: 0;
        // }
    }
}


#video-ct {
    position: fixed;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;

}