header {
    width: 100%;
    position: relative;
    // clip-path: circle(50.0% at 50% 34%);
    height: 180vh;
    .header-wrapper{
            height: 100vh;
            display: flex;
            flex-direction: column;
            text-align: center;
            color: rgb(255, 255, 255);
            .header-logo {
                z-index: 1;
                font-family: 'poppins';
                margin-top: 50vh;
                letter-spacing: 40px;
                text-transform: uppercase;
                color: rgba(255, 255, 255, 0.692);
                font-size: 20px;
            }
            .header-hero {
            z-index: 1;
            padding-top: 70vh;
            // clip-path: polygon(0% 0% 10% 0%);
            padding-left: 0vh;
            padding-right: 0vh;
            h1{
                font-size: 3rem;
                margin-bottom: 1rem;
                font-family: 'poppins';
                letter-spacing: 10px;
                text-transform: uppercase;
            }
            p{
                font-size: 1.2rem;
                display: block;
                padding-bottom: 2rem;
                font-family: 'poppins';
            }
        }
        // .header-overlay {
        //     height: 100vh;
        //     width: 100vh;
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     background: #225470;
        //     z-index: 0;
        //     opacity: 0;
        // }
    }
}


#video-ct {
    position: fixed;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;

}

.scrollDown {
    z-index: 4;
    color: rgb(172, 172, 172);
    margin-top: 93vh;
    position: absolute;
    right: 10vh;
    font-family: 'poppins';
    letter-spacing: 3px;
}

@include mobile {
    .header-hero {
    text-align: center;
    }
    .scrollDown {
        margin-top:95vh;
        right: 3vh;
        font-size: 11px;
    }
}
@include tablet {
    .header-hero {
    text-align: center;
    }
    .scrollDown {
        margin-top:95vh;
        right: 7vh;
    }
}