* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
main {
  min-height: 80vh;
}

@mixin mobile {
    @media (max-width: #{$tablet-width - 1px}) {
      @content;
    }
  }

@mixin tablet {
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
      @content;
    }
  }
  
  @mixin desktop {
    @media (min-width: #{$desktop-width}) {
      @content;
    }
  }